
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Elise Bell</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="row">
<div class="large-12 columns">
<div class="nav-bar right">
<ul class="button-group">
<li><a href="/" class="button">Home</a></li>
<li><a href="/research.html" class="button">Research</a></li>
<li><a href="/teaching.html" class="button">Teaching</a></li>
<li><a href="/CV.pdf" class="button">CV</a></li>
<li><a href="/personal.html" class="button">Personal</a></li>
</ul>
</div>
<h1>Elise Bell</h1>
<hr/>
</div>
</div>
<div class="row">
<div class="large-12 columns">
<img src="/desert.jpg">
</div>
</div>
<div class="row">
<hr>
<div class="large-8 columns">
  <h4>About</h4>