
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Elise Bell</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="row">
<div class="large-12 columns">
<div class="nav-bar right">
<ul class="button-group">
<li><a href="/website/" class="button">Home</a></li>
<li><a href="/website/research.html" class="button">Research</a></li>
<li><a href="/website/teaching.html" class="button">Teaching</a></li>
<li><a href="/website/CV.pdf" class="button">CV</a></li>
<li><a href="/website/personal.html" class="button">Personal</a></li>
</ul>
</div>
<h1>Elise Bell</h1>
<hr/>
</div>
</div>
<div class="row">
<div class="large-12 columns">
<img src="/website/desert.jpg">
</div>
</div>
<div class="row">
<hr>
<div class="large-8 columns">
  <h4>About</h4>
  {{ content }}
<i class="fi-social-twitter"></i>
</div>
<div class="large-4 columns">
<img src="/website/profile_pic.jpg">
</div>
</div>
<div class="row">
<hr>
<div class="large-12 columns">
<h4>Work</h4>
<p></p>
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
<li>
<a href="/website/EBell_LSA2016_WelshSpanishBiling_poster.pdf"><img
  data-caption="Vowel length in Welsh-Spanish bilingual speech" src="/website/EBell_LSA2016_WelshSpanishBiling_poster.png"></a>
</li>
<li>
<a href="/website/WAIL2015_ebell.pdf"><img
data-caption="Onset-sensitive stress in Ngigua" src="/website/WAIL2015_ebell.png"></a>
</li>
<li>
<a href="/website/EBell_LSA2016_EAPSI_Kriol.pdf"><img
data-caption="Production of obstruents by children acquiring North
Australian Kriol" src="/website/EBell_LSA2016_EAPSI_Kriol.png"></a>
</li>
<li>
<a href="http://placehold.it/800x500&text=[coming soon!]"><img data-caption="caption 4 here..." src="http://placehold.it/800x500&text=[coming soon!]"></a>
</li>
</ul>
</div>
</div>
<div class="row">
<div class="large-12 columns">
<hr>
<h4>Contact Me</h4>
<div class="large-4 columns">
  Email: <a href="mailto:elisebell@email.arizona.edu" target="_top">elisebell@email.arizona.edu</a>
</div>
<div class="large-4 columns">
Twitter: @bellmaison
</div>
<div class="large-4 columns">
</div>
</div>
</div>
<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>© Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="/website/research.html">Research</a></li>
<li><a href="/website/teaching.html">Teaching</a></li>
<li><a href="/website/CV.pdf">CV</a></li>
<li><a href="/website/personal.html">Personal</a></li>
</ul>
</div>
</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
